extends layout
block content
	div.container
		h5.form-signin-heading 邮箱
		input.form-control(type="email", placeholder="Email address", required, autofocus, name="mail")
		br
		button#forgetPwdBtn.btn.btn-lg.btn-primary.btn-block 提交
