<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"></head>
  <style type="text/css">
  .navbar{margin-bottom: 0;}
  </style>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">九九星期八</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">首页</a>
          </li>
          <% if(name){ %>
            <li>
              <a href="/u/<%= name %>">个人中心</a>
            </li>
          <% } %>
        </ul>
        <% if(name){ %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/publish">发文章</a>
            </li>
            <li>
              <a href="/set/pwd">修改密码</a>
            </li>
            <li>
              <a href="/logout">退出</a>
            </li>
          </ul>
        <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/login">登陆</a>
              </li>
              <li>
                <a href="/reg">注册</a>
              </li>
            </ul>
        <% } %>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>欢迎您来到九九星期八</h1>
      <p><span><%= name %></span> 此刻离开喧嚣热闹的城市,静静的享受下醉人的时光!青春正能量！！！</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    
  </div>
  <script type="text/javascript">
    var $CONFIG={};
    $CONFIG.username = '<%= name %>';
  </script>
  <script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script>
</body>
</html>