extends layout
block content
  div.jumbotron.own-content
    div.container
      h3 欢迎您来到九九星期八 
      span #{name} 
      p
        span 本网站目前还没有考虑好定位，所以希望有幸浏览到此网页的网友，扫描下面二维码关注我,拜求意见，哈哈
        img(src="http://img.lxyfuture.asia/2015/about_me/B7A36A7A-AE64-4106-B668-F21D7D8D5D34.png" width="200px" height="200px")
      p
        a.btn.btn-primary.btn-lg(href="/about" role="button") 了解更多