<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
	<p>欢迎登录！<%= title %></p>
	<p><button id="loginOut">退出</button></p>
    </div>
    <script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script> 
  </body>
</html>