<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <form class="form-signin" role="form" method="post">
      旧密码：<input type="password" class="form-control" placeholder="Old Password" required name="oldpwd"><br/>
      新密码：<input type="password" class="form-control" placeholder="New Password" required name="newpwd"><br/>
      确认密码：<input type="password" class="form-control" placeholder="Confirm Password" required name="confirmpwd"><br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
    </form>
    </div> 
</body>
</html>