<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
		<form class="form-signin" role="form" method="post" action="/reg/invite">
			<h2 class="form-signin-heading">Please sign up</h2>
      <input type="email" class="form-control" placeholder="Email address" required autofocus name="mail">
			<input type="text" class="form-control" placeholder="User Name" required name="nickname">
		<!-- 	<input type="password" class="form-control" placeholder="Password" required name="password">
			<input type="password" class="form-control" placeholder="confirm Password" required name="password_repeat"> -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</form>
    </div> 
  </body>
</html>